<header class="main-header style-three">
  <!-- header-top -->
  <!-- <div class="header-top">
    <div class="container">
      <div class="inner-container clearfix">
        <ul class="header-info pull-left">
          <li>Time : Monday-Friday 09am-5pm</li>
          <li><i class="flaticon-telephone-auricular-with-cable"></i><a href="tel:(+88)01912704287">(+88)
              01912704287</a></li>
        </ul>
        <ul class="header-nav pull-right">
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contacts</a></li>
          <li>
            <div class="language dropdownn">
              <a class="dropdown-toggle" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" href="#">Eng</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <li><a href="#">Eng</a></li>
                <li><a href="#">Chi</a></li>
                <li><a href="#">Ger</a></li>
                <li><a href="#">Fre</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

  <!-- header-bottom -->
  <div class="header-bottom">
    <div class="container">
      <div class="outer-container">
        <div class="nav-outer clearfix">
          <div class="menu-area pull-left clearfix">
            <figure class="logo-box"><a href="index.html"><img src="../assets/images/logo-3.png" alt=""></a></figure>
            <nav class="main-menu navbar-expand-lg">
              <div class="navbar-header">
                <!-- Toggle Button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse clearfix">
                <ul class="navigation clearfix">
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a>
                  </li>
                  <li routerLinkActive="current"><a routerLink="about">About</a>
                  </li>
                  <li routerLinkActive="current"><a routerLink="counter">Counter</a>
                  </li>
                  <li routerLinkActive="current"><a routerLink="products">Products</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="info-box pull-right clearfix">
            <div class="shop-cart"><a href="shop.html"><i class="flaticon-shopping-bag"></i><span>0</span></a></div>
            <div class="search-box">
              <div class="header-flyout-searchbar">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="btn-box"><a href="#"><i class="fas fa-arrow-right"></i>Support</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--sticky Header-->
  <div class="sticky-header">
    <div class="container clearfix">
      <figure class="logo-box"><a href="index.html"><img src="../assets/images/small-logo.png" alt=""></a></figure>
      <div class="menu-area">
        <nav class="main-menu navbar-expand-lg">
          <div class="navbar-header">
            <!-- Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">
              <li routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a>
              </li>
              <li routerLinkActive="current"><a routerLink="about">About</a>
              </li>
              <li routerLinkActive="current"><a routerLink="counter">Counter</a>
              </li>
              <li routerLinkActive="current"><a routerLink="products">Products</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
