<div class="container py-5">
  <h1 class="text-center mb-4">Our Products</h1>

  <div *ngIf="data.length > 0">
    <div class="row">
      <div *ngFor="let product of data" class="product-card col-lg-4" (click)="productDetails(product.id)">
        <picture><img [src]="product.thumbnail" alt="{{product.title}}" class="product-image" /></picture>
        <h3>{{ product.title }}</h3>
        <span>Price: ${{ product.price }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="data.length === 0">
    <p>No products available.</p>
  </div>
</div>
