<section class="py-3"
  style="background-image: url('/assets/images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="banner-blocks">

          <div class="banner-ad large bg-info block-1">

            <div class="swiper main-swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories my-3">100% natural</div>
                      <h3 class="display-4">Fresh Smoothie & Summer Juice</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop
                        Now</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="/assets/images/product-thumb-1.png" class="img-fluid">
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories mb-3 pb-3">100% natural</div>
                      <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="/assets/images/product-thumb-1.png" class="img-fluid">
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories mb-3 pb-3">100% natural</div>
                      <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="/assets/images/product-thumb-2.png" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-pagination"></div>

            </div>
          </div>

          <div class="banner-ad bg-success-subtle block-2"
            style="background:url('/assets/images/ad-image-1.png') no-repeat;background-position: right bottom">
            <div class="row banner-content p-5">

              <div class="content-wrapper col-md-7">
                <div class="categories sale mb-3 pb-3">20% off</div>
                <h3 class="banner-title">Fruits & Vegetables</h3>
                <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24">
                    <use xlink:href="#arrow-right"></use>
                  </svg></a>
              </div>

            </div>
          </div>

          <div class="banner-ad bg-danger block-3"
            style="background:url('/assets/images/ad-image-2.png') no-repeat;background-position: right bottom">
            <div class="row banner-content p-5">

              <div class="content-wrapper col-md-7">
                <div class="categories sale mb-3 pb-3">15% off</div>
                <h3 class="item-title">Baked Products</h3>
                <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24">
                    <use xlink:href="#arrow-right"></use>
                  </svg></a>
              </div>

            </div>
          </div>

        </div>
        <!-- / Banner Blocks -->

      </div>
    </div>
  </div>
</section>

<!-- Categories -->
<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header d-flex flex-wrap justify-content-between mb-5">
          <h2 class="section-title">Categories overview</h2>

          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
            <div class="swiper-buttons">
              <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
              <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="category-carousel swiper">
          <div class="swiper-wrapper">
            <a *ngFor="let product of data | slice: 0: categoriesCount ; let i = index"
            (click)="getProductsByCategory(product.category)"
              class="nav-link category-item swiper-slide">
              <img [src]="product.images[0]" class="img-fluid" alt="Category Thumbnail">
              <h3 class="category-title">{{product.category}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Featured Products -->
<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header d-flex flex-wrap justify-content-between my-5">

          <h2 class="section-title">Best selling products</h2>

          <div class="d-flex align-items-center">
            <a [routerLink]="['/products']" class="btn-link text-decoration-none" target="_blank">View All Products →</a>
            <div class="swiper-buttons">
              <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
              <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-featured-products></app-featured-products>
      </div>
    </div>
  </div>
</section>

<!-- Featured products -->
<!-- <section class="team-section" style="background-image: url(images/background/team-bg.jpg);">
  <div class="container-fluid px-3">
    <div class="sec-title  text-center">
      <h1 class="text-danger">Featured products</h1>
      <p class="text-dark">Our experienced staff, combined with our global network, allow us to<br />provide the support
        you need</p>
    </div>
    <app-featured-products></app-featured-products>
    <div class="text-center">
      <a [routerLink]="['/producs']" class="btn btn-danger px-4 py-2 mt-4">Show All Products</a>
    </div>
  </div>
</section> -->

<!-- about-style-three -->
<!-- <section class="about-style-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content-box">
          <div class="top-content">
            <div class="top-text">About Acto</div>
            <h2>Experienced general contractors in Germany</h2>
            <div class="text">
              <p>The company concentrated on its core business - developing land for industrial estates and ready-made
                standard factory for sale and rent in industrial estates</p>
              <p>Enterprise Iron’s deep industry experience in operational and technology consulting enables us to
                identify</p>
              <button class="btn btn-outline-danger mt-2" (click)="onLoadAbout()">About Acto</button>
            </div>
          </div>
          <div class="lower-content" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="flaticon-customer-support"></i></div>
                  <h2>100%</h2>
                  <div class="text">100% Employee-Owned</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="flaticon-engineer"></i></div>
                  <h2>500+</h2>
                  <div class="text">Highly specialised employees</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
        <div class="inner-box" style="background-image: url(../assets/assets/images/background/about-column-bg.jpg);">
          <div class="content-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
            <h1>15<span>Years</span></h1>
            <div class="text">Industries Experience</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- ourmission-style-three -->
<!-- <section class="ourmission-style-three" style="background-image: url('../assets/assets/images/background/mission-bg-2.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
        <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-content">
            <div class="top-content">
              <h2>Our Mission</h2>
              <div class="text">The company concentrated on its core business developing land for industrial estates and
                ready-made standard factory for sale and rent in industrial estates</div>
            </div>
            <div class="middle-content">
              <div class="text">The future of manufacturing is digital. We explore the technologies that are
                transforming fabrication.</div>
              <div class="text">The future of manufacturing is digital.</div>
            </div>
            <div class="lower-content">
              <h2>Let’s grow together</h2>
              <div class="text">We are dedicated towards the prosperity of our clients by providing them solution that
                cater their needs and meet their demands on time.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content-box">
          <div class="title-text" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">Construction
          </div>
          <div class="icon-box"><i class="flaticon-industry"></i></div>
          <h2>Multi-story commercial cast-in-place concrete construction<br />specialists.</h2>
          <div class="btn-box"><a href="#">Expert & Profesional</a></div>
        </div>
      </div>
    </div>
  </div>
</section> -->
