 <!-- main-slider -->
 <!-- <section class="slider-style-three centred">
  <div class="main-slider-carousel-2 owl-carousel owl-theme">
      <div class="slide" style="background-image:url(images/main-slider/slider-3.jpg)">
          <div class="container">
              <div class="content-box">
                  <div class="top-text">Acto Construction</div>
                  <h1>Acto Construction Experts</h1>
                  <h3>We have the right solution for every task</h3>
                  <div class="btn-box"><a href="#">Construction task</a></div>
                  <div class="video-button"><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a></div>
              </div>
          </div>
      </div>
      <div class="slide" style="background-image:url(images/main-slider/slider-3.jpg)">
          <div class="container">
              <div class="content-box">
                  <div class="top-text">Acto Construction</div>
                  <h1>Acto Construction Experts</h1>
                  <h3>We have the right solution for every task</h3>
                  <div class="btn-box"><a href="#">Construction task</a></div>
                  <div class="video-button"><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a></div>
              </div>
          </div>
      </div>
      <div class="slide" style="background-image:url(images/main-slider/slider-3.jpg)">
          <div class="container">
              <div class="content-box">
                  <div class="top-text">Acto Construction</div>
                  <h1>Acto Construction Experts</h1>
                  <h3>We have the right solution for every task</h3>
                  <div class="btn-box"><a href="#">Construction task</a></div>
                  <div class="video-button"><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a></div>
              </div>
          </div>
      </div>
  </div>
</section> -->

<!-- about-style-three -->
<section class="about-style-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content-box">
          <div class="top-content">
            <div class="top-text">About Acto</div>
            <h2>Experienced general contractors in Germany</h2>
            <div class="text">
              <p>The company concentrated on its core business - developing land for industrial estates and ready-made
                standard factory for sale and rent in industrial estates</p>
              <p>Enterprise Iron’s deep industry experience in operational and technology consulting enables us to
                identify</p>
                <button class="btn btn-outline-danger mt-2" (click)="onLoadAbout()">About Acto</button>
            </div>
          </div>
          <div class="lower-content" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="flaticon-customer-support"></i></div>
                  <h2>100%</h2>
                  <div class="text">100% Employee-Owned</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="flaticon-engineer"></i></div>
                  <h2>500+</h2>
                  <div class="text">Highly specialised employees</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
        <div class="inner-box" style="background-image: url(../assets/images/background/about-column-bg.jpg);">
          <div class="content-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
            <h1>15<span>Years</span></h1>
            <div class="text">Industries Experience</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ourmission-style-three -->
<section class="ourmission-style-three" style="background-image: url('../assets/images/background/mission-bg-2.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
        <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-content">
            <div class="top-content">
              <h2>Our Mission</h2>
              <div class="text">The company concentrated on its core business developing land for industrial estates and
                ready-made standard factory for sale and rent in industrial estates</div>
            </div>
            <div class="middle-content">
              <div class="text">The future of manufacturing is digital. We explore the technologies that are
                transforming fabrication.</div>
              <div class="text">The future of manufacturing is digital.</div>
            </div>
            <div class="lower-content">
              <h2>Let’s grow together</h2>
              <div class="text">We are dedicated towards the prosperity of our clients by providing them solution that
                cater their needs and meet their demands on time.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content-box">
          <div class="title-text" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">Construction
          </div>
          <div class="icon-box"><i class="flaticon-industry"></i></div>
          <h2>Multi-story commercial cast-in-place concrete construction<br />specialists.</h2>
          <div class="btn-box"><a href="#">Expert & Profesional</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- service-style-three -->
<section class="service-style-three">
  <div class="container">
    <div class="sec-title centred">
      <div class="top-text">Services</div>
      <h1>Construction Solution</h1>
      <p>Our experienced staff, combined with our global network, allow us to provide the<br />support you need</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-three wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box">
              <a href="service-single.html">
                <img src="../assets/images/resource/service-8.jpg" alt="">
              </a>
            </figure>
            <div class="lower-content">
              <h3><a href="service-single.html">Automobile Manufacturing</a></h3>
              <div class="text">Automation is the topmost technology in today’s world and we are the topper at it. We
                have already provided many industries with the perfect</div>
              <div class="btn-box"><a href="service-single.html">Go Continues<i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box"><a href="service-single.html"><img src="../assets/images/resource/service-9.jpg" alt=""></a>
            </figure>
            <div class="lower-content">
              <h3><a href="service-single.html">Building & Construction</a></h3>
              <div class="text">Automation is the topmost technology in today’s world and we are the topper at it. We
                have already provided many industries with the perfect</div>
              <div class="btn-box"><a href="service-single.html">Go Continues<i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 service-block">
        <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box"><a href="service-single.html"><img src="../assets/images/resource/service-10.jpg"
                  alt=""></a></figure>
            <div class="lower-content">
              <h3><a href="service-single.html">Bridge Construction</a></h3>
              <div class="text">Automation is the topmost technology in today’s world and we are the topper at it. We
                have already provided many industries with the perfect</div>
              <div class="btn-box"><a href="service-single.html">Go Continues<i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- wehelp-section -->
<section class="wehelp-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 image-column">
        <div class="image-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
          <figure class="image clearfix"><img src="../assets/images/resource/wehelp-1.jpg" alt=""></figure>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 content-column">
        <div class="content-box">
          <div class="anim-icon-1 wow zoomIn animated" data-wow-delay="900ms" data-wow-duration="1500ms"></div>
          <div class="top-content">
            <div class="top-text">Why Love Us</div>
            <h1>We are Construcation the future</h1>
            <h2>A better way forward for manufacturers</h2>
            <div class="text">In its peruse to become a trusted leader in the industry, IBSF has produced over 10,000
              structures shipped to 36 countries across the globe.</div>
          </div>
          <div class="lower-content">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="flaticon-support"></i></div>
                  <h5><a href="#">Maintenance & Remodeling</a></h5>
                  <div class="text">Petroleum refiners, fuel transport and end-user sales at gas stations.</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="flaticon-hat"></i></div>
                  <h5><a href="#">Facilities</a></h5>
                  <div class="text">Petroleum refiners, fuel transport and end-user sales at gas stations.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-box"><a href="#">About Acto</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- project-style-three -->
<section class="project-style-three">
  <div class="large-container">
    <div class="sec-title centred">
      <div class="top-text">Case Studies</div>
      <h1>Construction Project</h1>
      <p>Our experienced staff, combined with our global network, allow us to provide the<br />support you need</p>
    </div>
    <div class="carousel-content">
      <div class="four-item-carousel owl-carousel owl-theme">
        <div class="project-block-three">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="../assets/images/gallery/project-8.jpg" alt=""></figure>
              <a href="images/gallery/project-8.jpg" class="lightbox-image" data-fancybox="gallery"><i
                  class="flaticon-add"></i></a>
            </div>
            <div class="content-box">
              <span>Construction , Bulding</span>
              <h5><a href="case-single.html">City Tower Construction Project</a></h5>
            </div>
          </div>
        </div>
        <div class="project-block-three">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="../assets/images/gallery/project-9.jpg" alt=""></figure>
              <a href="images/gallery/project-9.jpg" class="lightbox-image" data-fancybox="gallery"><i
                  class="flaticon-add"></i></a>
            </div>
            <div class="content-box">
              <span>Construction , Bulding</span>
              <h5><a href="case-single.html">City Tower Construction Project</a></h5>
            </div>
          </div>
        </div>
        <div class="project-block-three">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="../assets/images/gallery/project-10.jpg" alt=""></figure>
              <a href="images/gallery/project-10.jpg" class="lightbox-image" data-fancybox="gallery"><i
                  class="flaticon-add"></i></a>
            </div>
            <div class="content-box">
              <span>Construction , Bulding</span>
              <h5><a href="case-single.html">City Tower Construction Project</a></h5>
            </div>
          </div>
        </div>
        <div class="project-block-three">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="../assets/images/gallery/project-11.jpg" alt=""></figure>
              <a href="images/gallery/project-11.jpg" class="lightbox-image" data-fancybox="gallery"><i
                  class="flaticon-add"></i></a>
            </div>
            <div class="content-box">
              <span>Construction , Bulding</span>
              <h5><a href="case-single.html">City Tower Construction Project</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- team-style-two -->
<section class="team-style-two home-3">
  <div class="image-column" style="background-image: url(../assets/images/background/team-bg-2.jpg);"></div>
  <div class="container">
    <div class="sec-title">
      <h1>Expertise Team</h1>
      <p>Our experienced staff, combined with our global network, allow us to<br />provide the support you need</p>
    </div>
    <div class="four-item-carousel owl-carousel owl-theme">
      <div class="team-block-two">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../assets/images/resource/team-4.jpg" alt=""></a></figure>
          <div class="lower-content">
            <h4><a href="#">Park bo young</a></h4>
            <span class="designation">Senior Enginer</span>
          </div>
        </div>
      </div>
      <div class="team-block-two">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../assets/images/resource/team-5.jpg" alt=""></a></figure>
          <div class="lower-content">
            <h4><a href="#">Chan wook</a></h4>
            <span class="designation">Senior Factory Manager</span>
          </div>
        </div>
      </div>
      <div class="team-block-two">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../assets/images/resource/team-6.jpg" alt=""></a></figure>
          <div class="lower-content">
            <h4><a href="#">Mahfuz Riad</a></h4>
            <span class="designation">Senior LOTT</span>
          </div>
        </div>
      </div>
      <div class="team-block-two">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../assets/images/resource/team-7.jpg" alt=""></a></figure>
          <div class="lower-content">
            <h4><a href="#">Jhon Rook</a></h4>
            <span class="designation">Junior Enginer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- callto-action-section -->
<section class="callto-action-style-two">
  <div class="container">
    <div class="sec-title">
      <h1>Request a Quote</h1>
      <p>Digital technologies are transforming the way products are designed, engineered<br />Here the Free request</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 form-column">
        <div class="form-inner">
          <form action="#" method="post">
            <div class="form-group">
              <input type="text" name="name" placeholder="Name" required="">
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" required="">
            </div>
            <div class="form-group">
              <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="form-group message-btn">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 info-column">
        <div class="info-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="address-box">
            <h5>Factory address</h5>
            <div class="text">The Grande, Bombay Exhibition Centre, Goregaon (East),<br />New York</div>
          </div>
          <div class="contact-box">
            <h5>Our Contact</h5>
            <ul class="phone-list">
              <li>P:<a href="tel:+880021412">(+88) 0 02 14 12</a></li>
              <li>F:<a href="tel:+880121214">(+88) 0 12 12 14</a></li>
            </ul>
            <div class="text">P.O. Box 2421 Macon<br />CA 11205</div>
            <div class="mail-box"><a href="mailto:info@example.com">info@example.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- subscribe-section -->
<section class="subscribe-section bg-color-2">
  <div class="container">
    <div class="inner-box">
      <figure class="icon-box"><img src="../assets/images/icons/paper-plane.png" alt=""></figure>
      <div class="content-box">
        <h2>Get Subscribed Now!</h2>
        <div class="text">The latest agopa news, articles, and resources, sent straight to your<br />inbox every month.
        </div>
        <form action="#" method="post" class="subscribe-form">
          <div class="form-group">
            <input type="email" name="email" placeholder="Type Your Email" required="">
            <button type="submit">Subscribe Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

